<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>783558564148-mqhktddpgiufjf6rel75f7o4foa83ure.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.783558564148-mqhktddpgiufjf6rel75f7o4foa83ure</string>
	<key>API_KEY</key>
	<string>AIzaSyCkv_PQ3drzffiv2kd_pAGsHKhH-ispcrk</string>
	<key>GCM_SENDER_ID</key>
	<string>783558564148</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bumslap.BlueToothProject</string>
	<key>PROJECT_ID</key>
	<string>moonmoontumblerproject</string>
	<key>STORAGE_BUCKET</key>
	<string>moonmoontumblerproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:783558564148:ios:ffc1ec2b8fdfdbac</string>
	<key>DATABASE_URL</key>
	<string>https://moonmoontumblerproject.firebaseio.com</string>
</dict>
</plist>